.trending-container{
    width: 90%;
    margin: auto;
    font-size: 1.5rem;
}
.trending-coins{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    border-bottom: 2px solid black;
}
.trending-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trending-name{
    
}
.trending-bit{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.trending-bit img{
    height: 1rem;
}
@media (max-width:800px){
    .trending-container{
        font-size: 1rem;
    }
    .trending-bit{
        display: flex;
        align-items: center;
        font-size: 0.8rem;
    }
    #spark-cell{
        display: none;
    }
}